
.nav_bar{
 width:50%;
 margin: 0 auto;
 padding-top:20px;

}
.ip{
  font-weight: bold;
  color:red;
}
.wiki_main_image img{
  width:100%;
}
.main_info{
  text-align: center;
  margin-top:20px;
  margin-bottom: 20px;
}
.item{
  border:1px solid white;
  width:80%;
  margin: 0 auto;
  background-color: black;
  color: white;
  padding:10px;
}
.title_wiki { 
  text-align: center;
}
.editor_area { width:90%; margin:0 auto;}
.writeBtn { text-align: right; margin-top:20px; margin-bottom: 20px;}
.editInfo { font-weight: bold; color: red;}
.wrapper { width: 80%; margin: 0 auto;}
.contribute { width:70%; margin: 0 auto;}
.wikiInfo { border:1px solid gray; padding:20px;}
.thumbnail { text-align: center;}
.songTitle { text-align: center; font-weight: bold; font-size: 30px;}
.song_writer {text-align: center; font-weight: bold;font-size: 20px;}
.sheet_maker { text-align: center ;font-weight: bold; font-size: 20px;}
.recorded { text-align: center; font-weight: bold; font-size: 20px;}
.kantan{text-align: center; font-weight: bold; font-size: 20px;}
.hutsuu{text-align: center; font-weight: bold; font-size: 20px;}
.muzukashi{text-align: center; font-weight: bold; font-size: 20px;}
.oni{text-align: center; font-weight: bold; font-size: 20px;}
.ura{text-align: center; font-weight: bold; font-size: 20px;}
.first { font-weight: bold; color : red ; font-size: 20px;}
.legends { font-weight: bold; color:gold; font-size: 20px;}
.subtitle_wrapper { text-align: center; width:90%; margin: 0 auto; margin-top:40px; margin-bottom: 40px;}
table { border: 1px solid gray; }
td {padding:20px;}
.recommendLevel{ text-align: center;}
.taiko_para{color:red; font-weight: bold; font-size:30px;}
.sameLevelThumbNail img{width:100%;}
.sameLevelThumbNail{ width: 300px; margin: 0 auto;}
.recommend { width:100%; margin: 0 auto; margin-bottom: 70px;}
.songTitles { font-weight: bold; font-size: 20px;}
.sameLevelWrapper{display: flex; flex-wrap: wrap-reverse;}