
.nav_bar{
 width:50%;
 margin: 0 auto;
 padding-top:20px;

}
.ip{
  font-weight: bold;
  color:red;
}
.wiki_main_image img{
  width:100%;
}
.main_info{
  text-align: center;
  margin-top:20px;
  margin-bottom: 20px;
}
.item{
  border:1px solid white;
  width:80%;
  margin: 0 auto;
  background-color: black;
  color: white;
  padding:10px;
}
.title_wiki { 
  text-align: center;
}
.editor_area { width:90%; margin:0 auto;}
.writeBtn { text-align: right; margin-top:20px; margin-bottom: 20px;}
.editInfo { font-weight: bold; color: red;}